In [4]:
import matplotlib as mpl
import pandas as pd

In [5]:
df = pd.read_csv("GOOG.csv")
df.head()

   15-05-2018   1079.22998
0  16-05-2018  1081.770020
1  17-05-2018  1078.589966
2  18-05-2018  1066.359985
3  21-05-2018  1079.579956
4  22-05-2018  1069.729980